body{
	background-color: #e3b186;
}
h1{
	 text-align: center;
	  
}
h2{
	 text-align: center;
	  
}
h3{
	 text-align: center;
	 padding: 20px;
}
img{
	width: 200px;
	height: 150px;
}